:root {
  --color_btn_hover: #2196f3;
  --color_title: #212121;
  --color_grey: #757575;
  --color_white: #ffffff;
  --color_logo: #000000;
  --background-hero_footer: #2f303a;
  --portfolio_btn: #f5f4fa;
  --btn_hero: #188ce8;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color_title);
  
}
a,
ul ,p,li,h1,h2,h3,h4{
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0;
}
.container{
  width: 1170px;
  margin: auto;
}

/*header*/

.container_header{
  display: flex;
  align-items: center;
  width: 1170px;
  margin: auto;
  padding: 15px 10px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color_logo);
  margin-right: 100px;
}
span {
  color: var(--color_btn_hover);
}
.nav_item{
  display: flex;
}
.nav_list{
  margin-right: 50px;
}
.nav_list:last-child{
  margin: 0;
}
.nav_link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color_title);
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}
.social_item{
  display: flex;
  margin-left: auto;
} 
.social_list{
  margin-right:50px ;

}
.social_list:last-child{
  margin: 0px;
}
.link_social {
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--color_grey);
}
.nav_link:hover,
.link_social:hover {
  color: var(--color_btn_hover);
}
.nav_link:focus,
.link_social:focus {
  color: var(--color_btn_hover);
}

/*hero*/

.hero{
  background-color: var(--background-hero_footer);
}
.container_hero{
  padding: 200px 10px;
  text-align: center;
}
.hero_title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color_white);
  margin-bottom: 30px;
}
.button {
  font-family: "Roboto", sans-serif;
  background-color: var(--color_btn_hover);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--color_white);
  cursor: pointer;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: var(--btn_hero);
}
/*СЕКЦЫЯ-2*/

.container_list{
  padding: 95px 10px;
}
.section_item{
  display: flex;
}
.section_list{
  margin-left:30px;
}
.section_list:first-child{
  margin:0px;
}


.list_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color_title);
  margin-bottom: 10px ;
}
.list_text {
  font-weight: normal;
  line-height: 1.7;
  color: var(--color_grey);
}
/*СЕКЦЫЯ-WORK*/

.container_work{
  width: 1170px;
  margin: auto;
}
.work_item{
  display: flex;
  margin-bottom: 95px;
}
.work_list{
  margin-left: 30px;
}
.work_list:first-child{
  margin: 0px;
}
.work_link{
  display: inline-block;
}
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--color_title);
  margin-bottom: 50px;
}
/*СЕКЦЫЯ-TEAM*/

.team{
  background-color:var( --portfolio_btn);
}
.container_team{
  width: 1170px;
  margin: auto; 
  padding: 95px 10px; 
}
.team_item{
  display:flex;
}
.team-list{
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-list:first-child{
  margin-left: 0px;
}
.team_img{
  margin-bottom: 30px;
}
.team_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--color_title);
  margin-bottom: 10px;
}
.team_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--color_grey);
  margin-bottom: 30px;
}

/*FOOTER*/

.footer {
  background-color: var(--background-hero_footer);
}
.container_footer{
  padding: 60px 10px;
  width: 1170px;
  margin: auto;
}
.logo_footer{
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color_logo);
  display: block;
}
span {
  color: var(--color_btn_hover);
}
.footer_link {
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.footer_link.address {
  color: var(--color_white);
}
/* PORTFOLIO*/
.portfolio {
  font-size: 16px;
  width: 1197px;
  margin: auto;
  padding: 95px 10px;
}
.portfolio_nav{
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.portfolio_item{
  display: flex;
  flex-wrap: wrap;
}
.portfolio_nav_btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  color: var(--color_title);
  background-color: var(--portfolio_btn);
  cursor: pointer;
  border: none  ;
  border-radius: 4px;
}
.portfolio_nav_list{
  margin-left: 8px;
}
.portfolio_nav_list:first-child{
  margin-left: 0px;
}

.portfolio_nav_btn:hover,
.portfolio_nav_btn:focus {
  color: var(--color_white);
  background-color: var(--color_btn_hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio_list{
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
}
.portfolio_list:nth-child(3n + 1){
  margin-left: 0px;
}

.portfolpo_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color_title);
}
.portfolio_text {
  font-weight: 400;
  line-height: 1.87;
  color: var(--color_grey);
}
